[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/logan/Desktop/Hollow Knight.desktop]
row=1
col=0

[/home/logan/Desktop/Simply Optimized]
row=0
col=0

[/home/logan/Desktop/Modrinth App]
row=3
col=0

[/home/logan/Desktop/Create (Fabric) 1.0.0.mrpack]
row=4
col=0

[/home/logan/Desktop/newpc.sh]
row=2
col=0

